*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: "black";
    font-family: "Gilroy";
    overflow: hidden;
}
main,body,html{
    width: 100%;
    height: 100%;
    background-color: #090909;
}

#nav{
    display: flex;
    flex-direction: colum;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-weight: 100;
}

#whoami{
    width: 70%;
    margin: 0 0 0 18%;
    position: relative;
}
.reveal{
    overflow: hidden;
}
#whoami h1{
    font-weight: 400;
    line-height: 100px;
    text-transform: uppercase;
    font-size: 100px;
    position: relative;
}
#whoami h1:nth-child(1){
    margin-top: 20vh;
    text-align: left;
}
#whoami h1:nth-child(2){
    text-align: center;
}
#whiteScreen{
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    color: black;
    background-color: aliceblue;
}
#greenScreen{
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: greenyellow;
}
